<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal">
          <i class="fa fa-plus"></i> Agregar Cliente
        </a>
      </div>
    </div>
  </div>
</section>

<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Listado de Clientes</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Saldo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clients; let i = index">
                <td>{{i+1}}</td>
                <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                <td>{{cliente.saldo | currency: 'MNX': '$'}}</td>
                <td>
                  <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Editar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center bg-danger text-white mb-3">
          <div class="card-body">
            <h3>Saldo Total</h3>
            <h4 class="display-4">
              {{ getSaldoTotal() | currency: 'MNX':'$' }}
            </h4>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Clientes</h3>
            <h4 class="display-4">
              <i class="fa fa-users"></i>  {{ clients?.length }}
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Agregar Cliente</h5>
        <button class="close" data-dismiss="modal" #botonCerrar>
          <span>&times;</span>
        </button>
      </div>

      <flash-messages></flash-messages>

      <form #clienteForm="ngForm" (ngSubmit)="agregar(clienteForm)">
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control"
                   #nombre="ngModel" [(ngModel)]="client.nombre"
                   [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                   required minlength="2">
            <div class="invalid-feedback" [hidden]="!nombre.errors?.required">
              Nombre requerido
            </div>
            <div class="invalid-feedback" [hidden]="!nombre.errors?.minlength">
              Debe contener al menos 2 caracteres
            </div>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" class="form-control"
                   #apellido="ngModel" [(ngModel)]="client.apellido"
                   [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
                   required minlength="2">
            <div class="invalid-feedback" [hidden]="!apellido.errors?.required">
              Apellido requerido
            </div>
            <div class="invalid-feedback" [hidden]="!apellido.errors?.minlength">
              Debe contener al menos 2 caracteres
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control"
                   #email="ngModel" [(ngModel)]="client.email"
                   [ngClass]="{'is-invalid': email.errors && email.touched}"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   required minlength="2">
            <div class="invalid-feedback" [hidden]="!email.errors?.required">
              Email requerido
            </div>
            <div class="invalid-feedback" [hidden]="!email.errors?.pattern">
              Email no es válido
            </div>
          </div>
          <div class="form-group">
            <label for="saldo">Saldo</label>
            <input type="number" name="saldo" id="saldo" class="form-control"
                   #saldo="ngModel" [(ngModel)]="client.saldo"
                   [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                   required>
            <div class="invalid-feedback" [hidden]="!saldo.errors?.required">
              Saldo requerido
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
